* { margin: 0; padding: 0; -webkit-touch-callout: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active, a:visited, a:link { color: inherit;}
body { width: 100%; height: 100%; }
fieldset { padding: 20px; }
h1, h2, h3, h4 { font-weight: normal; }
hr { margin: 5px 0; }
iframe { display: none; }
img { background: none; border: none; padding: 0; margin: 0; }
input { background-color: #FFF; font-size: 1.08em; padding: 7px; z-index: 1986; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; -webkit-appearance: none; }
li { list-style-type: none; }
p { line-height: 1.1em; }
*::-webkit-selection { background: #EEE; color: #000000; }
*::-moz-selection { background: #EEE; color: #000000; }
*::selection { background: #EEE; color: #000000; }
input::-webkit-selection { background: #F8BB0C; color: #000000; }
input::-moz-selection { background: #F8BB0C; color: #000000; }
input::selection { background: #F8BB0C; color: #000000; }
input:focus { outline: none; }
/* ###################################################################### */
*						{ outline: none; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.blockLink				{ display: block; height: 100%; width: 100%; }
.bold					{ font-weight: bold; }
.bottomSpace 			{ margin-bottom: 20px; }
.center 				{ margin: 0 auto; }
.centerTxt 				{ text-align: center; }
.clear 					{ clear: both; }
.condensed				{ letter-spacing: -.05em; }
.floatLeft 				{ float: left; }
.floatRight 			{ float: right; }
.hidden					{ display: none; }
.noDeco, .noDeco:hover	{ text-decoration: none; }
.nopadding				{ padding: 0; }
.nowrap					{ white-space: nowrap; }
.padded					{ padding: 10px; 0 }
.purple 				{ color: #A52F80; }
.rightTxt				{ text-align: right; }
.shadow					{ box-shadow: 2px 2px 5px #111; }
.space 					{ margin: 20px 0; }
.strikethrough			{ text-decoration: line-through; }
.title 					{ font: normal 1.5em "Helvetica Neue", Arial, Helvetica, sans-serif; text-transform: uppercase; }
.topSpace 				{ margin-top: 20px; }
.uppercase 				{ text-transform: uppercase; }

.checkbox { margin: 0 auto; text-align: left; width: 70%; }
.checkbox input[type="checkbox"] { -webkit-appearance: checkbox; margin-right: 5px; }

/* ###################################################################### */
/* LOGIN ################################################################ */
/* ###################################################################### */
.pinkButton, .pinkButtonPressed, .paymentAcceptedDialog .ui-dialog-buttonpane button {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #cf369f; /* Old browsers */
	background: -moz-linear-gradient(top, #cf369f 0%, #ab2882 50%, #952371 51%, #821e63 100%); /* FF3.6+ */
	background: -ms-linear-gradient(top, #cf369f 0%,#ab2882 50%,#952371 51%,#821e63 100%); /* IE10+ */
	background: -o-linear-gradient(top, #cf369f 0%,#ab2882 50%,#952371 51%,#821e63 100%); /* Opera 11.10+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cf369f), color-stop(50%,#ab2882), color-stop(51%,#952371), color-stop(100%,#821e63)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cf369f 0%,#ab2882 50%,#952371 51%,#821e63 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #cf369f 0%,#ab2882 50%,#952371 51%,#821e63 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf369f', endColorstr='#821e63',GradientType=0 ); /* IE6-9 */
	border: 1px solid #431033;
	border-radius: 10px;
	border-top-color: #581543;
	box-shadow: 0 1px 0 #5e5e5e;
	color: #ffffff;
	line-height: 1.6em;
	padding: 1px;
	text-align: center;
	text-shadow: -.5px -.5px 1px #431033;
	text-transform: uppercase;
	width: 30%;
	font-weight: bold;
}
.pinkButton:active, .pinkButtonPressed {
	background: #50133d; /* Old browsers */
	background: -moz-linear-gradient(top,  #50133d 0%, #a52f80 100%, #892069 2%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50133d), color-stop(100%,#a52f80), color-stop(2%,#892069)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #50133d 0%,#a52f80 100%,#892069 2%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #50133d 0%,#a52f80 100%,#892069 2%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #50133d 0%,#a52f80 100%,#892069 2%); /* IE10+ */
	background: linear-gradient(top,  #50133d 0%,#a52f80 100%,#892069 2%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50133d', endColorstr='#892069',GradientType=0 ); /* IE6-9 */
}
.first {
	-moz-border-radius: .4em .4em 0 0;
	-webkit-border-radius: .4em .4em 0 0;
	border-radius: .4em .4em 0 0;
	border: 1px solid #EFEFEF;
	border-bottom: 1px solid #FFF;
	margin-top: 5px;
}
.middle {
	border: 1px solid #EFEFEF;
	border-bottom: 0 none;
	border-radius: 0;
}
.last {
	-moz-border-radius: 0 0 .4em .4em;
	-webkit-border-radius: 0 0 .4em .4em;
	border-radius: 0 0 .4em .4em;
	border: 1px solid #EFEFEF;
	margin-bottom: 5px;
}

/* ###################################################################### */
/* BACKGROUND ########################################################### */
/* ###################################################################### */
html.loginBackground {
	background: #1e1e1e; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #1e1e1e 0%, #5e5e5e 100%); /* FF3.6+ */
	background: -ms-linear-gradient(-45deg, #1e1e1e 0%,#5e5e5e 100%); /* IE10+ */
	background: -o-linear-gradient(-45deg, #1e1e1e 0%,#5e5e5e 100%); /* Opera 11.10+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#1e1e1e), color-stop(100%,#5e5e5e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #1e1e1e 0%,#5e5e5e 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(-45deg, #1e1e1e 0%,#5e5e5e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#5e5e5e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-position: fixed;
	color: #CCC;
	min-height: 100%;
}
html.loginBackground body {
	text-align: center;
}
html.loginBackground input[type="text"], html.loginBackground input[type="password"] {
	width: 70%;
}
html.loginBackground a {
	color: #FFF;
	line-height: 1.5em;
	text-decoration: underline;
}

img.loginLogo {
}
button.loginButton {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 10px;
}

/*** SIGNUP */
form#signForm {
	margin-top: 7px;
}

/* ###################################################################### */
/* BACK ################################################################# */
/* ###################################################################### */
.backButton {
	background: transparent url("../images/back_button.png") no-repeat;
	border: 0 none;
	color: #FFF;
	height: 27px;
	width: 67px;
	line-height: 1.8em;
	margin: 5px 0 2px 5px;
	padding: 0 5px 0 15px;
}
.doneButton {
	background: transparent url("../images/done_button.png") no-repeat;
	border: 0 none;
	color: #FFF;
	height: 26px;
	width: 67px;
	line-height: 1.8em;
	margin: 5px 0 2px 5px;
	padding: 0;
	text-align: left;
	padding-left: 15px;
}
div#back {
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.25), inset 0 1px 1px rgba(0,0,0, 0.2);
	background: #6c1952; /* Old browsers */
	background: -moz-linear-gradient(top,  #6c1952 0%, #26091d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c1952), color-stop(100%,#26091d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6c1952 0%,#26091d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6c1952 0%,#26091d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6c1952 0%,#26091d 100%); /* IE10+ */
	background: linear-gradient(top,  #6c1952 0%,#26091d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c1952', endColorstr='#26091d',GradientType=0 ); /* IE6-9 */
	border: 1px solid rgba(0,0,0, 0.4);
	cursor: pointer;
	height: 26px;
	margin: 3px 0 0 12px;
	position: relative;
	width: 45px;
}
div#back:active, div#back:active span {
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #26091d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#26091d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#26091d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#26091d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#26091d 100%); /* IE10+ */
	background: linear-gradient(top,  #000000 0%,#26091d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#26091d',GradientType=0 ); /* IE6-9 */
}
div#back div {
	-webkit-transform: rotate(51deg);
	left: -7px;
	position: absolute;
	top: 5px;
	z-index: 1;
}
div#back span {
	-webkit-border-radius: 1px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.25);
	-webkit-transform: skew(15deg);
	background: #6c1952; /* Old browsers */
	background: -moz-linear-gradient(top,  #6c1952 0%, #26091d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c1952), color-stop(100%,#26091d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6c1952 0%,#26091d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6c1952 0%,#26091d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6c1952 0%,#26091d 100%); /* IE10+ */
	background: linear-gradient(top,  #6c1952 0%,#26091d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c1952', endColorstr='#26091d',GradientType=0 ); /* IE6-9 */
	border: 1px solid rgba(0,0,0, 0.4);
	border-right: 0;
	border-top: 0;
	border-radius: 0 0 0 2px;
	display: block;
	height: 16px;
	width: 15px;
}
div#back p {
	color: #fff;
	font-size: 14px;
	left: 5px;
	line-height: 16px;
	margin: 0 auto;
	padding: 0 0 0 2px;
	position: absolute;
	text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
	top: 4px;
	z-index: 2;
}

/* ###################################################################### */
/* HEADER ############################################################### */
/* ###################################################################### */

div#header {
	background: #a52f80; /* Old browsers */
	background: -moz-linear-gradient(top, #a52f80 0%, #50133d 100%, #892069 2%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a52f80), color-stop(100%,#50133d), color-stop(2%,#892069)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a52f80 0%,#50133d 100%,#892069 2%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a52f80 0%,#50133d 100%,#892069 2%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a52f80 0%,#50133d 100%,#892069 2%); /* IE10+ */
	background: linear-gradient(top, #a52f80 0%,#50133d 100%,#892069 2%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a52f80', endColorstr='#892069',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #000;
	line-height: 35px;
	text-align: center;
	white-space: nowrap;
}
div#header img {
	max-height: 29px;
	margin-top: 3px;
}
div#header h1 {
	color: #FFF;
	font-size: 1.3em;
	text-shadow: 1px 1px .5px #000;
	text-transform: uppercase;
}

/* ###################################################################### */
/* FOOTER ############################################################### */
/* ###################################################################### */

div#footer {
	background: #474747; /* Old browsers */
	background: -moz-linear-gradient(top, #474747 0%, #2f2f2f 50%, #212121 51%, #151515 100%); /* FF3.6+ */
	background: -ms-linear-gradient(top, #474747 0%,#2f2f2f 50%,#212121 51%,#151515 100%); /* IE10+ */
	background: -o-linear-gradient(top, #474747 0%,#2f2f2f 50%,#212121 51%,#151515 100%); /* Opera 11.10+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#474747), color-stop(50%,#2f2f2f), color-stop(51%,#212121), color-stop(100%,#151515)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #474747 0%,#2f2f2f 50%,#212121 51%,#151515 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #474747 0%,#2f2f2f 50%,#212121 51%,#151515 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#151515',GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #111;
	bottom: 0;
	color: #666;
	max-height: 35px;
	padding: 5px 0;
	position: absolute;
	text-align: center;
	width: 100%;
}
div#footer .pageLauncher {
	display: inline-block;
	font-size: .8em;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 29px;
	width: 25%;
}
div#footer .pageLauncher.footerSelected {
	background-color: #000;
	border: 1px solid #444;
	border-top-color: #222;
	border-radius: 2em;
	color: #FFF;
}

/* ###################################################################### */
/* PAGE ################################################################# */
/* ###################################################################### */
div.page, div.dialog {
	display: none;
}
div.page {
	overflow: hidden;
}

div.page h2 {
	color: #A52F80;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}

div.page li.listDivider {
	background: #474747; /* Old browsers */
	background: -moz-linear-gradient(top, #474747 0%, #2f2f2f 50%, #212121 51%, #151515 100%); /* FF3.6+ */
	background: -ms-linear-gradient(top, #474747 0%,#2f2f2f 50%,#212121 51%,#151515 100%); /* IE10+ */
	background: -o-linear-gradient(top, #474747 0%,#2f2f2f 50%,#212121 51%,#151515 100%); /* Opera 11.10+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#474747), color-stop(50%,#2f2f2f), color-stop(51%,#212121), color-stop(100%,#151515)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #474747 0%,#2f2f2f 50%,#212121 51%,#151515 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #474747 0%,#2f2f2f 50%,#212121 51%,#151515 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#151515',GradientType=0 ); /* IE6-9 */
	color: #EEE;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
}

/* ###################################################################### */
/* SCROLLER ############################################################# */
/* ###################################################################### */
div.page div.wrapper {
	left: 0;
	overflow: auto;
	position: absolute;
	top: 35px;
	width: 100%;
}

div.page div.scroller {
	margin: -bottom: 5px;
	padding: 0;
	position: absolute;
	width: 100%;
}

/* ###################################################################### */
/* LIST ################################################################# */
/* ###################################################################### */
div.page li.listItem {
	background: #f6f8f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #e5e6e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#e5e6e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#e5e6e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#e5e6e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#e5e6e8 100%); /* IE10+ */
	background: linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#e5e6e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#e5e6e8',GradientType=0 ); /* IE6-9 */
	color: #111;
	line-height: 1.6em;
	padding: 10px 0;
	position: relative;
}
div.page li.dealListItem {
	background: #FFF url("../images/deal-bg.png") center repeat-x;
	border-bottom: 1px solid #EEE;
	color: #111;
	line-height: 1.6em;
	padding: 5px 0;
	position: relative;
}
div.page li.listItem a {
	color: #111;
	display: block;
	width: 100%;
}
div.page li.listItem a.emphasis {
	color: #A52F80;
	display: inline;
	width: auto;
}

/* ###################################################################### */
/* CATEGORIES ########################################################### */
/* ###################################################################### */
div.page div.categories {
	bottom: 39px;
	color: #666;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 5;
}
div.page div.barCategories ul {
	background: #222;
	border-top: 1px solid #111;
}
div.page div.barCategories li.categoryItem, div.page div.barCategories li.categoryItemSelected {
	float: left;
}
div.page div.barCategories li.categoryItem a, div.page div.barCategories li.categoryItemSelected a {
	display: block;
	width: 100%;
	text-decoration: none;
}
div.page div.barCategories li.categoryItemSelected {
	background: #a52f80; /* Old browsers */
	background: -moz-linear-gradient(top,  #a52f80 0%, #50133d 100%, #892069 2%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a52f80), color-stop(100%,#50133d), color-stop(2%,#892069)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a52f80 0%,#50133d 100%,#892069 2%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a52f80 0%,#50133d 100%,#892069 2%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a52f80 0%,#50133d 100%,#892069 2%); /* IE10+ */
	background: linear-gradient(top,  #a52f80 0%,#50133d 100%,#892069 2%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a52f80', endColorstr='#892069',GradientType=0 ); /* IE6-9 */
	border-bottom: 0 none;
}
div.page div.barCategories span.categoryTitle {
	color: #FFF;
	display: block;
	font-size: .7em;
	padding-bottom: 2px;
	width: 100%;
}
div.page img.categoryPhoto {
	max-height: 29px;
}

div.categories p.browseCategories {
	font-style: italic;
	line-height: 1.5em;
}

/* ###################################################################### */
/* DEAL ################################################################# */
/* ###################################################################### */
div.page img.bigPhoto {
	max-height: 120px;
}
div.page img.bigPhoto#featuredDealPhoto {
	display: block;
	margin: 5px auto;
}
li.featuredDeal {
	margin: 2px 2px 0 2px;
	height: ;
	padding-bottom: 25px;
}
div#pageDeals div.wrapper, div#pageVoucher div.wrapper {
	background: url("../images/deal-bg.png") repeat;
}

div.page p.supplier {
	font-weight: bold;
	line-height: 1.3em;
}

div.page li.listItem .listItemImg, div.page li.dealListItem .listItemImg {
	margin: 2px;
	max-height: 60px;
	max-width: 76px;
	width: auto;
}
div.page li.listItem .listItemImgBorder, div.page li.dealListItem .listItemImgBorder {
	background-color: #FFF;
	border: 1px solid #EEE;
	box-shadow: 0 1px 2px #888;
	float: left;
	max-width: 80px;
	text-align: center;
	width: 80px;
}
div.page li.listItem .listItemInfos, div.page li.dealListItem .listItemInfos {
	line-height: 1em;
	padding-left: 85px;
}
div.page li.listItem .listItemInfosAlone, div.page li.dealListItem .listItemInfosAlone {
	line-height: 60px;
}
div.page li.listItem .listItemTitle, div.page li.dealListItem .listItemTitle {
	text-transform: lowercase;
}
div.page li.listItem .listItemTitle:first-letter, div.page li.dealListItem .listItemTitle:first-letter {
	text-transform: uppercase;
}
div.page li.listItem .listItemLocation, div.page li.dealListItem .listItemLocation {
	color: #000;
	font-size: .8em;
	font-weight: bold;
}
div.page li.listItem .listItemDetails, div.page li.dealListItem .listItemDetails {
	color: #888;
	font-size: .8em;
}
div#pageDeal div.wrapper {
	background: url("../images/deal-bg.png") repeat;
}
div#pageDeal div.dealDetail {
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
div#pageDeal div.dealDetail p {
	line-height: 2em;
}
div#pageDeal div.dealDetail p strong {
	display: inline-block;
	width: 22%;
}
div#pageDeal div#dealItem {
	line-height: 1em;
	margin-top: 10px;
}
div#pageDeal div#dealItem span#dealDetailName {
	color: #A52F80;
	font-size:1em;
	font-weight: bold;
	text-transform: uppercase;
}
div#pageDeal div#dealItem span#dealDetailSupplierName, div#pageDeal div#dealItem span#dealDetailDiscount {
	font-weight: bold;
}
div#pageDeal div#dealItem img#dealDetailImage {
	float: left;
	margin-right: 5px;
	max-width: 100px;
	max-height: 100px;
}
div#pageDeal img.dealSupplierPhoto {
	padding-top: 15px;
	max-width: 180px;
	max-height: 180px;
}
div#pageDeal button#btnGetVoucher {
	display: block;
	margin: 10px auto;
	width: 60%;
}

div.page .description ul, div.page .description ol {
	list-style-position: inside;
	margin-left: 10px;
	width: 100%;
}
div.page .description ul li {
	display: list-item;
}
div.page .description ul li, div.page .description ol li {
	list-style-type: disc;
	padding-left: 15px;
	text-indent: -15px;
}
div.page .description ol li {
	list-style-type: decimal;
}

/* ###################################################################### */
/* VOUCHER ############################################################## */
/* ###################################################################### */
div#pageVoucher h2#voucherDealDetailName {
	color: #FFF;
	padding: 0;
	font-size: 1.7em;
	background-color: #000;
}
div#pageVoucher h2#voucherDealDetailSupplierName {
	font-size: 1.5em;
}
div#pageVoucher h2 {
	text-align: center;
}
div#pageVoucher p#voucherDealDetailDescription {
	margin: 10px 10px 0 10px;
	text-align: left;
}
div#header h1 span.customer {
	font-size: .7em;
}
div#pageVoucher p#voucherPrerequired {
	margin-top: 50px;
	text-align: center;
}
.voucherUseOnce {
	color: #A52F80;
}

div#voucherLandscape p#voucherCode {
	float: right;
	text-align: center;
	width: 24%;
}
div#voucherLandscape marquee {
	float: left;
	width: 75%;
}

div#voucherLandscape  p#voucherClientName {
	bottom: 2px;
	font-size: 1.7em;
	font-weight: bold;
	position: fixed;
	right: 10px;
	text-transform: uppercase;
}

/* ###################################################################### */
/* VOUCHER CODE ######################################################### */
/* ###################################################################### */
button.okButton {
	padding: 3px 7px;
	width: 30%;
}
input.inputCode {
	-moz-border-radius: .4em;
	-webkit-border-radius: .4em;
	border-radius: .4em;
	border: 1px solid #EFEFEF;
	margin-bottom: 5px;
	margin-top: 5px;
	width: 60%;
}

/* ###################################################################### */
/* DIALOG ############################################################### */
/* ###################################################################### */
.ui-dialog .ui-dialog-titlebar {
	padding: .4em 0em;
}

.paymentDialog .ui-dialog-titlebar {
	background: #a52f80; /* Old browsers */
	background: -moz-linear-gradient(top,  #a52f80 0%, #50133d 100%, #892069 2%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a52f80), color-stop(100%,#50133d), color-stop(2%,#892069)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a52f80 0%,#50133d 100%,#892069 2%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a52f80 0%,#50133d 100%,#892069 2%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a52f80 0%,#50133d 100%,#892069 2%); /* IE10+ */
	background: linear-gradient(top,  #a52f80 0%,#50133d 100%,#892069 2%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a52f80', endColorstr='#892069',GradientType=0 ); /* IE6-9 */
}
.paymentDialog .ui-widget-header .ui-icon {
	background: url("../images/cross.png") no-repeat;
	background-position: 0;
	height: 35px;
	width: 35px;
}
.paymentDialog.ui-dialog .ui-dialog-titlebar-close {
	top: 30%;
	height: 35px;
	width: 35px;
}
.paymentDialog .ui-dialog-title {
	color: #FFF;
}
.paymentDialog div.pagePayment {
	padding: 0;
}
.paymentDialog div.pagePayment a {
	text-decoration: none;
}
.paymentDialog div.pagePayment button.paymentButton {
	font-size: .5em;
	margin-left: 10px;
	float: right;
	padding: 3px;
	width: 40px;
}
.paymentDialog div.pagePayment .paymentItem {
	height: 45px;
	margin-top: 15px;
}

.paymentDialog div.pagePayment .floatPrice {
	line-height: 1.3em;
	position:absolute;
	right: 0;
}
.paymentDialog div.pagePayment div.content {
}
.paymentDialog div.pagePayment form {
	display: inline-block;
	text-align: left;
}
span.paypalTitle {
	display: inline-block;
	line-height: 35px;
}
img.paypal {
	float: left;
	height: 25px;
	margin: 2px 10px 2px 2px;
}
.paymentDialog div.pagePayment .label {
	color: #A52F80;
	font-size: .9em;
	font-weight: bold;
	letter-spacing: -.09em;
}
.paymentDialog div.pagePayment .sublabel {
	display: block;
	font-size: .8em;
}
.paymentDialog div.pagePayment .price {
	float: left;
	font-size: .9em;
}

.paymentAcceptedDialog .ui-dialog-titlebar {
	display: none;
}
.paymentAcceptedDialog .ui-widget-content {
	border: 0 none;
}
.paymentAcceptedDialog {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #444 none;
	border-radius: 10px;
	border: 2px solid #a52f80;
	width: 60%;
}
.paymentAcceptedDialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	background: #444 none;
	float: none;
	padding: 5px 0;
}
.paymentAcceptedDialog .ui-dialog-buttonpane {
	border: 0 none;
	padding: 0;
	text-align: center;
}
.paymentAcceptedDialog .ui-dialog-buttonpane button {
	margin: 0;
}
.paymentAcceptedDialog .ui-button-text-only .ui-button-text {
	padding: 0;
}
.paymentAcceptedDialog h2 {
	color: #FFF;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}
.paymentAcceptedDialog h3 {
	color: #FFF;
	font-size: 1.1em;
	text-align: center;
}
.paymentAcceptedDialog .ui-dialog-buttonpane button {
	margin: 0 5px;
}

.progressDialog .ui-dialog-titlebar {
	display: none;
}
.progressDialog {
	background: rgba(100,100,100,.8);
	border: 0 none;
	line-height: 3em;
	text-align: center;
}
.progressDialog .ui-widget-content {
	color: #FFF;
	font-weight: bold;
}
.progressDialog .ajaxLoader {
	display: block;
	margin: 20px auto 10px auto;
}

@media -o-paged {
	html {
		height: 100%;
		overflow: -o-paged-x;
	}
}

input#unlockCodePayment {
	padding: 1px;
	width: 30%;
}
form#unlockCodePaymentForm button {
	margin: 0px;
	margin-top: 7px;
}